Flow_Tuto_Camera.txt
[{"id":"ad7c4861.b2f028","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6f42afe9.e091","type":"mysql","z":"ad7c4861.b2f028","mydb":"f59f6ff7.ccba9","name":"BD_parking","x":470,"y":220,"wires":[["927a5afc.9b19b8"]]},{"id":"6bd2fd19.da9354","type":"http in","z":"ad7c4861.b2f028","name":"","url":"/plate","method":"post","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["2c2b23b5.0931fc"]]},{"id":"b93827f1.759128","type":"debug","z":"ad7c4861.b2f028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":220,"wires":[]},{"id":"ac905f8c.a32b3","type":"http response","z":"ad7c4861.b2f028","name":"","statusCode":"","headers":{},"x":830,"y":100,"wires":[]},{"id":"2c2b23b5.0931fc","type":"function","z":"ad7c4861.b2f028","name":"lecture plaque","func":"msg.payload = msg.payload.results[0].plate;\nglobal.set(\"mem_plaque\", msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":100,"wires":[["ac905f8c.a32b3","8ba21177.07c4c"]]},{"id":"8ba21177.07c4c","type":"delay","z":"ad7c4861.b2f028","name":"pause","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":130,"y":220,"wires":[["a7f9ab62.483a28"]]},{"id":"a7f9ab62.483a28","type":"function","z":"ad7c4861.b2f028","name":"verification","func":"msg.topic = \"SELECT * FROM TAB_clients WHERE vehiculeClients = '\" + msg.payload + \"'\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":220,"wires":[["6f42afe9.e091"]]},{"id":"927a5afc.9b19b8","type":"function","z":"ad7c4861.b2f028","name":"confirmation","func":"if(msg.payload == 0)\n{\n    msg.payload = 0;\n    return msg;\n}\nelse\n{\n    var value = msg.payload[0]['nomClients'];\n    global.set(\"mem_nom\", value);\n    msg.payload = 1;\n    return msg;\n}\n","outputs":1,"noerr":0,"x":650,"y":220,"wires":[["2cd22c17.216944"]]},{"id":"2cd22c17.216944","type":"function","z":"ad7c4861.b2f028","name":"envoie donnée","func":"var recup_plaque = global.get(\"mem_plaque\");\nvar recup_nom = global.get(\"mem_nom\");\n\nvar dt = new Date(Math.round(+new Date()));\n\nvar form_date = (dt.getFullYear().toString() + '-' + (dt.getMonth()+1).toString() + '-' + dt.getDate().toString());\nvar form_heure = (dt.getHours().toString() + ':' + dt.getMinutes().toString() + ':' + dt.getSeconds().toString());\n\nvar out = \"INSERT INTO TAB_camera (idCamera, plaqueCamera, nomCamera, dateCamera, heureCamera,autorisationCamera)\";\n\nif (msg.payload == 1) \n{\n    out = out+ \" VALUES (NULL,'\"+recup_plaque+\"','\"+recup_nom+\"','\"+form_date+\"','\"+form_heure+\"','OUI' )\";\n    msg.topic = out;\n    return msg;\n}\nelse if (msg.payload == 0) \n{\n  \n    out = out + \" VALUES (NULL,'\"+recup_plaque+\"','INCONNU','\"+form_date+\"','\"+form_heure+\"','NON' )\";\n    msg.topic = out;\n    return msg;  \n}","outputs":1,"noerr":0,"x":640,"y":300,"wires":[["565594a6.3f954c"]]},{"id":"565594a6.3f954c","type":"mysql","z":"ad7c4861.b2f028","mydb":"f59f6ff7.ccba9","name":"","x":830,"y":300,"wires":[["b93827f1.759128"]]},{"id":"f59f6ff7.ccba9","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"BD_parking","tz":""}]